@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Azeret Mono";
    box-sizing: border-box;
}
.common-style{
    max-width: 1140px;
    margin: 0 auto;
}

/*Banner section*/

#banner{
    max-width: 1440px;
    background-image: url(/assets/Hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
}
.banner-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner-div img{
    padding-top: 26px;
    padding-bottom: 32px;
}
.banner-div h2{
    color: rgb(13, 19, 33);
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    text-align: center;
    margin-bottom: 24px;
}
.banner-div p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    margin-bottom: 32px;
}

.btn{
    font-size: 20px;
    color: rgb(255, 255, 255);
    background: rgb(13, 19, 33);
    border-radius: 8px;
    font-weight: 600;
    line-height: 23px;
    text-align: center;
    padding: 21px 24px;
    margin-bottom: 44px;
    cursor: pointer;
}

/*  why-web-development section*/
#why-web-development{
    background-color: #FAFAFB;
    margin-top: 55px;
}
.why-web-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 80px 97px;
}
.why-web-div h2{
    font-size: 32px;
    color: rgb(13, 19, 33);
    font-weight: 800;
    line-height: 37px;
    text-align: center;
    padding-top: 80px;
    margin-bottom: 24px;
}
.web-description{
    font-size: 16px;
    color: rgb(13, 19, 33);
    font-weight: 400;
    line-height: 26px;
     text-align: center;
     margin-bottom: 48px;
     padding-left: 80px;
     padding-right: 80px;
}
.why-web-div1{
    display: flex;
    padding: 48px;
    background-color: #fff;
}

.why-web-div1-content{
    width: 50%;
   
}

.why-web-div1-img{
    width: 50%;
    text-align: right;
}
.why-web-div1-content h3{
    font-size: 24px;
    color: rgba(13, 19, 33, 0.7);
    font-weight: 700;
    line-height: 36px;
    text-align: left;
    margin-bottom: 16px;
}
.why-web-div1-content p{
    font-size: 16px;
    color: rgb(13, 19, 33);
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    margin-bottom: 32px;
}

.why-web-div1 button{
    font-size: 20px;
    color: rgb(13, 19, 33);
    font-weight: 600;
    line-height: 23px;
    text-align: center;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    padding: 12px 20px;
    background-color: #fff;
}
.why-web-div2{
    
        display: flex;
        padding: 48px;
        background-color: #fff;
}

.why-web-div2-img{
    width: 30%;
}
.why-web-div2-content{
    width: 70%;
    text-align: left;
}
.why-web-div2-content h3{
    font-size: 24px;
    color: rgba(13, 19, 33, 0.7);
    font-weight: 700;
    line-height: 36px;
    text-align: left;
    margin-bottom: 16px;
}
.why-web-div2-content p{
    font-size: 16px;
    color: rgb(13, 19, 33);
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    margin-bottom: 32px;
}
.why-web-div2 button{
    font-size: 20px;
    color: rgb(13, 19, 33);
    font-weight: 600;
    line-height: 23px;
    text-align: center;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    padding: 12px 20px;
    background-color: #fff;
}

.why-web-div3{
    display: flex;
    padding: 48px;
    background-color: #fff;
}

.why-web-div3-content{
    width: 50%;
   
}

.why-web-div3-img{
    width: 50%;
    text-align: right;
}
.why-web-div3-content h3{
    font-size: 24px;
    color: rgba(13, 19, 33, 0.7);
    font-weight: 700;
    line-height: 36px;
    text-align: left;
    margin-bottom: 16px;
}
.why-web-div3-content p{
    font-size: 16px;
    color: rgb(13, 19, 33);
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    margin-bottom: 32px;
}

.why-web-div3 button{
    font-size: 20px;
    color: rgb(13, 19, 33);
    font-weight: 600;
    line-height: 23px;
    text-align: center;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    padding: 12px 20px;
    background-color: #fff;
}

/* My Inspiration section*/
#inspiration{
    margin-top: 90px;
}
.my-inspiration h2{
    font-size: 32px;
    color: rgb(13, 19, 33);
    font-weight: 800;
    line-height: 37px;
    text-align: center;
    margin-bottom: 24px;
}
.my-inspiration p{
    font-size: 16px;
    color: rgb(13, 19, 33);
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 48px;
}
.my-hero{
    width: 1134px;
    margin: 0 auto;
    padding: 32px;
}

/* current section*/
#current{
    margin-top: 151px;
}
.current-target h2{
    font-size: 32px;
    color: rgb(13, 19, 33);
    font-weight: 800;
    line-height: 37px;
    text-align: center;
    margin-bottom: 24px;
}
.current-desc{
    font-size: 16px;
    color: rgb(13, 19, 33);
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    margin-left: 144px;
    margin-right: 144px;
    margin-bottom: 48px;
}
.html-css-js{
    display: flex;
    justify-content: space-between;
    gap: 24px;
}
.html{
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
    padding: 40px;
    width: 30%;
}
.html h3{
    font-size: 24px;
    color: rgb(13, 19, 33);
    font-weight: 800;
    line-height: 36px;
    text-align: left;
    margin-top: 24 px;
    margin-bottom: 8px;
}
.html p{
    font-size: 16px;
    color: rgb(13, 19, 33);
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    margin-bottom: 24px;
}
.html a{
    font-size: 16px;
    color: rgb(13, 19, 33);
    font-weight: 700;
    line-height: 19px;
    text-align: left;
    text-decoration-line: underline;
}
.css{
    border-radius: 16px;
    background: rgba(0, 76, 232, 0.05);
    padding: 40px;
    width: 30%;
}
.css h3{
    font-size: 24px;
    color: rgb(13, 19, 33);
    font-weight: 800;
    line-height: 36px;
    text-align: left;
    margin-top: 24 px;
    margin-bottom: 8px;
}
.css p{
    font-size: 16px;
    color: rgb(13, 19, 33);
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    margin-bottom: 24px;
}
.css a{
    font-size: 16px;
    color: rgb(13, 19, 33);
    font-weight: 700;
    line-height: 19px;
    text-align: left;
    text-decoration-line: underline;
}
.js{
    border-radius: 16px;
    background: rgba(255, 223, 0, 0.05);
    padding: 40px;
    width: 30%;
    
}
.js h3{
    font-size: 24px;
    color: rgb(13, 19, 33);
    font-weight: 800;
    line-height: 36px;
    text-align: left;
    margin-top: 24 px;
    margin-bottom: 8px;
}
.js p{
    font-size: 16px;
    color: rgb(13, 19, 33);
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    margin-bottom: 73px;
}
.js a{
    font-size: 16px;
    color: rgb(13, 19, 33);
    font-weight: 700;
    line-height: 19px;
    text-align: left;
    text-decoration-line: underline;
}

/* support section*/
#support{
    background-image: url(/assets/handshake.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 50px;
    border-radius: 16px;
   
}
.need-support{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 64px 48px;
    
    
}
.need-support h3{
    font-size: 32px;
    color: rgb(255, 255, 255);
    font-weight: 700;
    line-height: 36px;
    text-align: center;
    margin-bottom: 16px;
}
.need-support p{
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    margin-right: 80px;
    margin-left: 80px;
    margin-bottom: 38px;
}
.support-btn{
    display: flex;
    justify-content: center;
    gap: 16px;
}

.input{
    width: 50%;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
    color: rgba(13, 19, 33, 0.4);
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    outline: 0;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    background: rgb(255, 255, 255);
}
.button{
    width: 10%;
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    text-align: center;
    border-radius: 8px;
    background: rgb(255, 255, 255);
}


/*Footer section*/
#foot{
    width: 1440px;
    margin: 0 auto;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.03);
    margin-top: 80px;
}
.footer{
    padding: 30px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
